.row
  .page_title
    %span.glyphicon.glyphicon-blackboard{"aria-hidden" => "true"}
    =page_title
-if delays.length == 0
  .row
    .col-md-6.col-sm-12.center-block
      .holder
        .holdertop No Known Delays
        .holdercontent
          %span.glyphicon.glyphicon-thumbs-up{"aria-hidden" => "true"}
          %br
          There are no delays currently on either departure board.
          %br
        .holderbot
-else
  .row
    -delays.each do |delay|
      .col-md-6.col-sm-12.center-block
        .holder
          .holdertop="#{delay[:trip]}: #{delay[:destination]}"
          .holdercontent
            %span.glyphicon.glyphicon-warning-sign{"aria-hidden" => "true"}
            %br
            The #{delay[:trip]} to #{delay[:destination]},
            departing from #{delay[:origin]},
            has been delayed for #{delay[:lateness_hms]}.
            %br
            %br
            It is estimated to arrive around #{delay[:expected_time]}.
            %br
          .holderbot
