.row
  .page_title
    %span.glyphicon.glyphicon-blackboard{"aria-hidden" => "true"}
    =page_title
-if hasData == false
  .row
    .col-md-4.col-sm-12.center-block
      .holder
        .holdertop No Content
        .holdercontent
          %span.glyphicon.glyphicon-warning-sign{"aria-hidden" => "true"}
          %br
          There are no trains on the departure board that fit the given parameters.
          %br
        .holderbot
-else
  -tables.each do |tab|
    .row
      .col-sm-12
        .holder
          .holdertop
            = tab[:name]
          %table
            %thead
              %tr
                %th.tab_train Train
                %th.tab_rest Expected
                %th.tab_rest Status
            %tbody
            - tab[:t].each do |row|
              %tr{:style => "#{row[:row_style]}"}
                %td.tab_norm
                  %a{"data-toggle" => "tooltip", :href => "/destination/#{row[:url_safe_dest]}", :title => "#{row[:tooltip]}"}
                    = row[:trip] + " : " + row[:destination]
                %td.tab_time= row[:scheduledtime]
                %td.tab_norm
                  %a{"data-toggle" => "tooltip", :href => "#", :title => "#{row[:tooltip]}"}
                    = row[:status_str]
          .holderbot
