%html
  %head
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/primary.css", :rel => "stylesheet"}/
    %title=page_title
  %body
    .container-fluid
      .tb_spacer
      = yield
      .row
        .col-sm-12{:style => "padding:0px;"}
          %nav.navbar.navbar-light
            .navbar-inner
              %ul.nav.nav-center.navbar-nav
                %li
                  %a{:href => "/"}
                    %span.glyphicon.glyphicon-eye-open{"aria-hidden" => "true"}
                    All Stations
                %li
                  %a{:href => "/southstation"}
                    %span.glyphicon.glyphicon-map-marker{"aria-hidden" => "true"}
                    South Station
                %li
                  %a{:href => "/northstation"}
                    %span.glyphicon.glyphicon-map-marker{"aria-hidden" => "true"}
                    North Station
                %li
                  %a{:href => "/delays"}
                    %span.glyphicon.glyphicon-bullhorn{"aria-hidden" => "true"}
                    Delays
      .tb_spacer
  .refresher
    %a{:href => "/refresh"}
      %span.glyphicon.glyphicon-refresh{"aria-hidden" => "true"}
  .time
    %span.glyphicon.glyphicon-time{"aria-hidden" => "true"}
    = refresh
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
  %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
