body {
  /*background-image: url("/img/bg.png");*/
  background-color:#202020;
}

.navbar {
  background-color: #333333;
  border-bottom: thick solid #9D1583;
  border-top: thick solid #9D1583;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  position:fixed;
  bottom:0%;
  left:0%;
  width:100%;
}

.navbar .navbar-nav > li > a {
    color: #FFFFFF;
    background-color:#9D1583;
    border-radius:8px;
    margin:0.5em;
    font-size:2em;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #000000;
    background-color: #BE56AA;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #7B0B66;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #000000;
    background-color: #FFFFFF;
}

.nav.nav-center {
    display: inline-block;
    left: 0;
    right: 0;
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}

table {
  font-family:"Lucida Console", Monaco, monospace;
  font-size:1.5em;
  width:100%;
}

table, th, td{
  color:white;
}

th {
  background-color:#5E004C;
  text-shadow: 2px 2px #000000;
  color:white;
}

th, td{
  padding:0.5em;
}

.holder{
  background-color:rgba(168, 52, 146, 0.25);
  border-radius:16px;
  margin-top:0.25em;
  margin-bottom:0.25em;
}

.center-block{
  float:none;
}

.holdertop{
  border-radius: 16px 16px 0px 0px;
  font-size:2em;
  padding:0.5em;
  color:white;
  text-shadow: 2px 2px #000000;
  background: #9D1583;
  background: -webkit-linear-gradient(#9D1583, #5E004C);
  background: -o-linear-gradient(#9D1583, #5E004C);
  background: -moz-linear-gradient(#9D1583, #5E004C);
  background: linear-gradient(#9D1583, #5E004C);
  border-bottom: 2px solid black;
}

.holdercontent{
  text-align:center;
  font-size:1.4em;
  color:white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 12em;
  padding: 1em;
}

.holderbot{
  border-radius: 0px 0px 16px 16px;
  padding:0.5em;
  color:white;
  text-shadow: 2px 2px #000000;
  background: #9D1583;
  background: -webkit-linear-gradient(rgba(157, 21, 131, 0), rgba(157, 21, 131, 1));
  background: -o-linear-gradient(rgba(157, 21, 131, 0), rgba(157, 21, 131, 1));
  background: -moz-linear-gradient(rgba(157, 21, 131, 0), rgba(157, 21, 131, 1));
  background: linear-gradient(rgba(157, 21, 131, 0), rgba(157, 21, 131, 1));
  height:2em;
  margin-top:0.5em;
}

.refresher, .time{
  position:fixed;
  box-shadow: 5px 5px 2px #000000;
  font-size:2em;
  padding:1em;
  color:white;
}

.refresher{
  background:#5E004C;
  top: 1%;
  right: 1%;
  border-radius:50%;
}

.time{
  top: 0%;
  left: 0%;
  border-radius:0px 0px 32px 0px;
  background: #9D1583;
  background: -webkit-linear-gradient(#5E004C, #9D1583);
  background: -o-linear-gradient(#5E004C, #9D1583);
  background: -moz-linear-gradient(#5E004C, #9D1583);
  background: linear-gradient(#5E004C, #9D1583);
  text-shadow: 2px 2px #000000;
}

a{
  color:#FFFFFF;
  font-weight:bold;
}

a:hover{
  color:#d491c7;
  text-decoration:none;
  font-weight:bold;
}

.tab_norm{
  width:40%;
}

.tab_time{
  width:20%;
}

.tb_spacer{
  height:8em;
}

.page_title{
  color:white;
  background-color:#333333;
  font-size:2.75em;
  margin-bottom:0.5em;
  margin-top:0.25em;
  text-align:center;
  text-shadow: 2px 2px #000000;
}
